.candidate_item {
    display: inline-block;
}

.candidate_container {
    float: left;
    margin: 20px;
    background: #fff;
    color: #5f5f5f;
    height: 280px;
    width: 200px;
}

.candidate {
    padding: 20px;
}
