.candidate_item {
    display: inline-block;
}

.candidate_container {
    float: left;
    margin: 20px;
    background: #fff;
    color: #5f5f5f;
    height: 280px;
    width: 200px;
}

.candidate {
    padding: 20px;
}

.candidate_container {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(75, 75, 75, 0.3);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.candidate_container:hover .overlay {
    width: 100%;
    left: 0;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.edit_candidate {
    margin-top: 60px;
}

.btn {
    font-size: 70%;
    padding: 10px;
}

.show_details {
    margin-top: 120px;
}

#studentsDetailsDiv {
    margin-left: 15px;
}

#increaseCount {
    margin-left: 50px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: black;
    background-color: white;
}
#decreaseCount{
    margin-left: 80px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: black;
    background-color: white;
}
