<div ng-controller="list_controller">
    <h1> List of consultants </h1>

    <style>

    </style>

    <div class="col-lg-12 col-lg-offset-1">
        <h3>No Of Students &nbsp;{{result.length}}</h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <md-progress-circular ng-if="isLoad" class="md-accent md-hue-5" md-diameter="96"></md-progress-circular>
                <div ng-repeat="list in result" class="candidate_container">
                    <div class="candidate">
                        <img ng-src="" alt="">
                        <h2 class="candidate_item">{{list.first_name}}</h2>
                        <h4 class="candidate_item">{{list.last_name}}</h4><br><br>
                        <p class="candidate_item">Strt Date: {{list.start_date | date:'MM-dd-yyyy' }}</p>
                        <p class="candidate_item">No.of client intrvws: {{list.client_count}}</p>
                        <!--                        <h6 class="candidate_item">{{list.id}}</h6>-->
                        <div class="overlay">
                            <button class="text btn btn-warning btn-xs" ng-click="deleteStudent(list.id,$index)">Delete</button><br>
                            <button class="text edit_candidate btn btn-info btn-xs" ng-click="editStudent(list.id)">Edit</button>
                            <button ng-click="client_details(list.id)" class="text show_details btn btn-info btn-xs">show Details</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div>
            <ui-view>

            </ui-view>
        </div>
    </div>
</div>