<div ng-controller="addStudents_controller">
    <div class="form-group">
        <label class="control-label col-sm-2" for="clientName">Add client</label>
        <div class="col-sm-10">
            <div ng-if="studentInfo.client_name.length>0">
                <div class="col-sm-10">
                    <div ng-if="studentInfo.client_name.length>0" ng-repeat="cname in studentInfo.client_name">
                        {{cname}}
                    </div>
                </div>
            </div>
            <button style="margin-right:20px" ng-click="studentInfo.add()">Add+</button>
        </div>
    </div>
</div>
