#add{
    margin-left:50px;
    margin-top: 50px; 
    padding:5px;
}
#list{
    margin-left:80px;
    margin-top: 47px;
    padding:5px;
}
#heading{
    font-size: 50px;
    margin-top: 50px;
    color: #ff884d;
}